p#vtip {
  display: none;
  position: absolute;
  padding: 10px;
  left: 10px;
  font-size: 0.8em;
  background-color: #ffffff;
  border: 1px solid #48a9e4;
  z-index: 9999;
}

.webform-tooltip-icon {
  background-color: #48a9e4;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-left: 2px;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  min-width: 20px;
  line-height: 20px;
}

a.webform-tooltip-icon:hover {
  text-decoration: none;
  color: #e8e8e8;
}
